<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost/jdbcprocdb?autoReconnect=false&amp;characterEncoding=utf8"/>
        <property name="username" value="jdbcproc"/>
        <property name="password" value="jdbcproc"/>
        <property name="maxActive" value="-1"/>
        <property name="maxIdle" value="2"/>
        <property name="maxWait" value="5000"/>
    </bean>

</beans>
